    <section class="resortSection">
        <h1>{{resortName}}</h1>
        <div class="resortRow1">
            <div id="resortPics">
                <div class="slider"></div>
            </div>
            <div class="resortInfo">
                <!-- <h2>Resort Details</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis pariatur iste quasi possimus a quia omnis maiores cupiditate molestiae architecto, soluta aspernatur maxime alias vero inventore adipisci natus autem veniam!</p>
                <ul class="resortDetails">
                    <li><a href="#">Closest Airport</a></li>
                    <li><a href="#">Address</a></li>
                    <li><a href="#">Contact Info</a></li>
                    <li><a href="#">Website</a></li>
                </ul> -->
            </div>
        </div>
    </section>

    <section class="resortSection2">
        <h1>Resort Opportunities</h1>
        <div class="resortRow2">
            <div id="resortOpp">
                <!-- box -->
            </div>
            <div class="googleMap">
                <!-- google map -->
            </div>
        </div>
    </section>